@use '/src/styles/style.scss' as globalStyles;

#settings {
    #content, .menu {
        margin: 40px;
    }
    #content {
        width: globalStyles.$siteWidth - 200px;
        width: globalStyles.$siteWidth - 200px;
    }
}