@use '/src/styles/style.scss' as globalStyles;

#settings {
    #content, .menu {
        margin: 30px;
    }
    #content {
        width: globalStyles.$siteWidth - 200px - 120px;
        width: globalStyles.$siteWidth - 200px - 120px;
    }
}