
#dangerZone {
    background-color: rgb(255, 232, 232);

    button {
        background-color: rgb(138, 43, 43);
    }
}

.segment {
    margin: 30px auto 0px auto !important;
    text-align: center;

    -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.35) !important;
    -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.35) !important;
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.35) !important;
}