@use '/src/styles/style.scss' as globalStyles;

.contentPanel {
    padding: 50px;
    &.light {
        background-color: globalStyles.$light;
    }
    &.dark {
        background-color: globalStyles.$dark;
    }
    &.gradient {
        background: globalStyles.$gradient;
    }
    >hr {
        height: 0px;
        border: none;
    }
    >hr:nth-of-type(2n) {
        display: block;
        width: 100%;
    }
}