$background-color: rgb(228, 228, 228);
$nav-color: rgb(30, 241, 40);

:global * {
    margin: 0;
    padding: 0;
}

:global(.clear) {
    clear: both;
}


#app {
    background-color: $background-color;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}


.appContentContainer {
    margin: auto;
    width: 900px;
}

nav {
    background-color: rgb(46, 46, 46);
    width: 100%;
    height: 45px;
    color: $nav-color;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    ul {
        list-style: none;
        list-style-type: none;
    }
     /* unvisited link */
    a:link {
        color:$nav-color;
    }
    
    /* visited link */
    a:visited {
        color: $nav-color;
    }
    
    /* mouse over link */
    a:hover {
        color: $nav-color;
    }
    
    /* selected link */
    a:active {
        color: $nav-color;
    }
    div, ul, li {
        display: inline;
        box-sizing: content-box;
    }
    li {
        margin: 0px 15px 0px 15px;
    }
    #leftMenu {
        float: left;
        margin-left: 50px;
    }
    #rightMenu {
        float: right;
        margin-right: 50px;
    }
}