$class-color: rgba(190, 218, 188, 0.822);


#sharelandingcontainer {
    #landingHeader {
        margin-top: 20px;
        #availableReposText {
            float: left;
        }
        #authorText {
            float: right;
            p {
                font-size: 120%;
            }
        }
    }
}

#tokenChecker {
    text-align: center;
    
    p {
        font-weight: bold;
        font-size: 130%;
    }
}