$light: #F1F2EB;
$dark: #4A4A48;
$red: #DB162F;
$blue: #009Fb7;
$green: #0BA14B;
$darkblue: #0665d5;
$limegreen: #0af8d1;

$gradient: linear-gradient(90deg, $darkblue 3.82%, $limegreen 123.47%);
$siteWidth: 1120px;

* {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}

:global(.page) {
    margin: 0px;
    padding: 0px;
    width: 100%;
}