$light: #F1F2EB;
$dark: #4A4A48;
$red: #DB162F;
$blue: #009Fb7;
$green: #0BA14B;


$gradient: linear-gradient(95.64deg, $green 3.82%, $blue 123.47%);
$siteWidth: 1000px;


.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}