.featureCard {
    margin: 40px !important;
    width: 450px !important;
    min-width: 450px;
    display: flex;
    justify-content: left;

    .icon {
        width: 100px;
        padding-top: 20px;
        padding-right: 10px;
    }

    .content {
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    @media screen and (max-width: 540px) {
        .content {
            width: 300px;
        }
    }
}
@media screen and (max-width: 540px) {
    .featureCard {
        margin: 10px;
        width: 300px;
        min-width: 300px;

        .icon {
            transform: scale(0.7)
        }
        .content {
            width: 200px;
        }
    }
}