@use '/src/styles/style.scss' as globalStyles;

#header {
    padding: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    .logo {
        font-size: 1.8em;
        color: globalStyles.$light;
        text-decoration: none;
        text-shadow: 1px 1px 3px #000000;
    }
    color: globalStyles.$dark;
    background: globalStyles.$gradient;

    text-decoration: none;
}
.repoList {
    display: block;
    font-size: 0.8em;
}
.exp {
    display: block;
    FONT-SIZE: 0.7em;
}
.repoLink {
    display: block;
}
.action {
    * {
        color: globalStyles.$light;
        font-weight: bold;
    }
    background: globalStyles.$gradient;
}
.menu {
    margin: 5px;
    padding: 5px;
    * {
        color: globalStyles.$light;
        text-shadow: 1px 1px 3px #000000;
        text-decoration: none;
    }
}
.menuItem {
    * {
        text-decoration: none;
    }
    /* unvisited link */
    a:link {
        color:globalStyles.$dark;
    }
    
    /* visited link */
    a:visited {
        color: globalStyles.$dark;
    }
    
    /* mouse over link */
    a:hover {
        color: globalStyles.$dark;
    }
    
    /* selected link */
    a:active {
        color: globalStyles.$blue;
    }
}