#logo {
    float: left;
    margin-left: 10px;
}
#leftMenu {
    float: left;
    margin-left: 40px;
    height: 100%;
}
#rightMenu {
    float: right;
    margin-right: 50px;
    height: 100%;
}
img.logo {
    height: 100%;
}