@use '/src/styles/style.scss' as globalStyles;

#header {
    padding: 40px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    #logo {
        float: left;
        margin-left: 10px;
    }
    img.logo {
        height: 2em;
        margin-right: 10px;
    }
    color: globalStyles.$dark;
    text-decoration: none;
}
.menu {
    /* unvisited link */
    a:link {
        color:globalStyles.$dark;
    }
    
    /* visited link */
    a:visited {
        color: globalStyles.$dark;
    }
    
    /* mouse over link */
    a:hover {
        color: globalStyles.$dark;
    }
    
    /* selected link */
    a:active {
        color: globalStyles.$blue;
    }
}