
.repositoryCard {
    position: relative;

    margin: 15px;
    padding: 10px !important;
    background-color: rgba(251, 251, 251, 0.911);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.35);

    transition: transform .1s; 
}



.deselect{
    position: absolute !important;
    top: 10px;
    right: 10px;
}

.deselected {
    width: 260px;

    .visitOriginal {
        width: 10px;
        height: 10px;
        position: absolute !important;
        top: 3px;
        right: 3px;
    }
}

:not(.deselected) {
    .visitOriginal {
        margin-top: -5px;
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 540px) {
    .deselected {
        width: 200px;
    }
}

.deselected:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.header {
    display: inline;
}

.desc {
    font-size: 0.8em;
    text-decoration: none;
}

.name {
    text-transform: uppercase;
    color: #000000;
}