
.repositoryCard {
    position: relative;

    margin: 15px;
    padding: 10px !important;
    background-color: rgba(251, 251, 251, 0.911);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.35);

    transition: transform .1s; 
}

.deselect{
    position: absolute !important;
    top: 10px;
    right: 10px;
}

.deselected {
    width: 260px;
}

.deselected:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.header {
    display: inline;
}

.desc {
    font-weight: 0.8em;
}

.name {
    text-transform: uppercase;
    color: #000000;
    text-decoration: underline;
}