@use '/src/styles/style' as globalStyles;

#landing {
    button {
        /* unvisited link */
        a:link {
            color:white;
        }
        
        /* visited link */
        a:visited {
            color: white;
        }
        
        /* mouse over link */
        a:hover {
            color: white;
        }
        
        /* selected link */
        a:active {
            color: white;
        }
    }
    .gradientLine {
        width: 100%;
        height: 450px;
        display: flex;
        justify-content: center;

        background: globalStyles.$gradient;
    }
    #signUp {
        margin-right: 100px;
        margin-left: 100px;
        height: 300px;
        min-width: 300px;
    }
    #title {
        color: globalStyles.$light;
        margin-left: 100px;
        margin-right: 100px;
        text-align: left;
        display: inline-block;
        width: 400px;
        min-width: 400px;
        li {
            text-decoration: none;
            list-style: none;
            margin: 30px 0px 20px 40px;
        }
        li, span {
            font-size: 150%;
        }
        span {
            padding-top: 10px;
        }
    }
    @media screen and (max-width: 540px) {
        #signUp {
            margin-left: 0px;
            margin-right: 0px;
            min-width: 0px;
            width: auto;
            margin-bottom: 20px;
        }        
        #title {
            margin-left: 0px;
            margin-right: 0px;
            min-width: 0px;
            width: auto;
            margin: 30px;
            margin-top: 0px;
        }

        .auth {
            order: 1;
        }
        .cta {
            order: 0;
        }
    }

    .features {
        display: flex;
        justify-content: center;
    }
    .targets {
        display: flex;
        justify-content: center;
        background-color: globalStyles.$dark;
    }
    .shareprovider {
        display: flex;
        align-items : center;
        justify-content: left;
        font-weight: bold;
    }
}