@use '/src/styles/style.scss' as globalStyles;

.authBox {
    .signupButton {
        display: block !important;
        margin-top: 15px;
    }
    * {
        width: 100%
    }
    h2, h3 {
        margin: 0px;
        padding: 0px;
    }
    padding: 30px;
    width: 300px;
    text-align: center;

    background-color: globalStyles.$light;

    -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.35) !important;
    -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.35) !important;
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.35) !important;
}