
.authSegment {
    :global(a.button) {
        display: block !important;
        width: 300px;
        margin: 10px auto 10px auto !important;
    }
    width: 600px;
    margin: 100px auto 0px auto !important;
    text-align: center;

    -webkit-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.35) !important;
    -moz-box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.35) !important;
    box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.35) !important;
}