@using EmailTemplates.ViewModels
@model InformationViewModel

@{
    ViewBag.HtmlTitle = Model.Title;
    ViewBag.PreHeader = Model.PreHeader;
    ViewBag.Hero = Model.Hero;
    ViewBag.EmailDisclaimer = Model.EmailDisclaimer;
    ViewBag.SiteUrlBase = Model.SiteBaseUrl;
    Layout = "_EmailLayoutHtml";
}

<table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
    <tr>
        <td align="left" bgcolor="#ffffff" style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">
            <p style="margin: 0;">@Model.Greeting</p>
            <p style="margin: 0;">@Model.Intro</p>
        </td>
    </tr>
    <tr>
        <td align="left" bgcolor="#ffffff" style="padding: 24px; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; border-bottom: 3px solid #d4dadf">
            <p style="margin: 0;">@Model.Cheers<br> @Model.ShareGitTeam</p>
        </td>
    </tr>
</table>