@use '/src/styles/style.scss' as globalStyles;

.shareCard {
    margin: 10px;
    width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s, width 0.1s, height 0.1s !important;
 
    .repo {
        margin-right: 8px;
        text-decoration: none;
        list-style: none;
        display: inline-block;
    }
    .header {
        font-weight: bold;
    }
}
@media screen and (max-width: 540px) {
    .shareCard {
        width: 300px;
        button, a {
            transform: scale(0.8);
        }
    }
  }
.shareCards {
    display: inline-block;
}
.small {
    font-size: 0.8em;
    padding: 5px;
}
.repos {
    white-space: normal;
    * {
        white-space: normal;
    }
}
.visible {
    transform: scale(1.05);
}
.deselected {
    transform: scale(0);
    display:block;
    margin: 0px;
    width: 0px;
    height: 0px;
}

.disabled {
    hr {
        background: globalStyles.$disabledGradient;
        height: 2px;
    }
}
.enabled {
    hr {
        background: globalStyles.$gradient;
        height: 2px;
    }
}
.highlighted {
    border: 1px solid globalStyles.$dark;
    transform: scale(1.05);
}