@use '/src/styles/style.scss' as globalStyle;

.img {
    margin-left: 0.3em;
    margin-right: 0.3em;
    &.fill_w_100 {
        width: 100%;
    }
    &.fill_w_80 {
        width: 80%;
    }
    &.auto {
        width: 1em;
        height: 1em;
    }
    &.small {
        width: 20px;
        height: 20px;
    }
    &.medium {
        width: 30px;
        height: 30px;
    }
    &.large {
        width: 40px;
        height: 40px;
    }
    &.dark {
        color: globalStyle.$dark !important;
    }
    &.light {
        color: globalStyle.$light !important;
    }
}