@use '/src/styles/style.scss' as globalStyles;

:global * {
    margin: 0;
    padding: 0;
}

:global(.clear) {
    clear: both;
}


#app {
    background-color: globalStyles.$light;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}


.appContentContainer {
    margin: auto;
    width: 100%;
}
