@use '/src/styles/style.scss' as globalStyles;

#sharelandingcontainer {
    #landingHeader {
        margin-top: 20px;
        #availableReposText {
            float: left;
        }
        #authorText {
            text-align: right;
            float: right;
            p {
                font-size: 120%;
            }
        }
    }
    .grid {
        >*{
            margin: 10px;
        }
    }
}

#tokenChecker {
    text-align: center;
    
    p {
        font-weight: bold;
        font-size: 130%;
    }
}