@use '/src/styles/style.scss' as globalStyles;

.baseSettingsLayout {
    margin-top: 20px;
    h3 {
        margin-bottom: 3px;
    }
    hr {
        margin-bottom: 10px;
    }
    &.dangerous {
        color: globalStyles.$red;
        hr {
            border-color: globalStyles.$red;
            border-style: solid;
        }
        button {
            background-color: rgb(138, 43, 43) !important;
        }
    }
}